# Adaptez vos paramètres locaux ici (sauf l'url GTFS):
GTFS_URL=https://data.iledefrance-mobilites.fr/explore/dataset/offre-horaires-tc-gtfs-idfm/files/a925e164271e4bca93433756d6a340d1/download/
PRIM_API_KEY=your_api_key_here
MONGO_URI=mongodb+srv://...
DB_NAME=ratp
WORKDIR=./backend/db